{% extends "layout.html" %}

{% block content %}
<section id="intro" >
  <header>
    <a href="/">
      <img src="/logo.png" alt="Imagem da Marca">
    </a>
    
  </header>
  
  <main>
    <p>
      Ficar em casa e períodos longos, não deve ser nada fácil.
    </p>
    <p>
      Por isso, iremos catalogar ideias,<strong> brincadeiras, 
      jogos, filmes, livros, cursos, dicas</strong>  
      e tudo que for necessário para tornar esse 
      momento mais interessante. 
    </p>
    <p>
      Comece clicando em ver ideias para ver as 
      melhores cadastradas e contribua também 
      com a sua.    
    </p>
  </main>

  <section id="buttons">
    <button class="raw" onclick="onOFF()">+ Adicionar Ideia</button>
    <a href="/ideias" class="button">Ver Ideias</a>
  </section>

  <footer>
    Com ❤️ <a href="http://rocketseat.com.br" target="_blank">
      Rocketseat</a>
  </footer>
  
  

</section>

<section id="last-ideas" >
        {% include "all_ideas.html"%} 
</section>
{% endblock %}